.Card {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Card-content {
    margin: 0;
}
.blue {
    background-color: rgba(0, 0, 255, 0.5);
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.red {
    background-color: rgba(255, 0, 0, 0.5);
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
.neutral {
    background-color: rgba(255, 214, 127, 0.5);
    border-bottom: 10px solid rgba(255, 214, 127, 0.5);
}
.black {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 10px solid rgba(0, 0, 0, 1.0);
}